[api]
{% for node in groups['api'] %}
{{ node }} ansible_host={{ hostvars[node]['ansible_host'] }} ansible_user={{ hostvars[node]['ansible_user'] }}
{% endfor %}

[galera]
{% for node in groups['galera'] %}
{{ node }} ansible_host={{ hostvars[node]['ansible_host'] }} ansible_user={{ hostvars[node]['ansible_user'] }}
{% endfor %}

[puppet]
puppet-node ansible_host={{ hostvars['puppet-node']['ansible_host'] }} ansible_user={{ hostvars['puppet-node']['ansible_user'] }}

[ldap]
ldap-node ansible_host={{ hostvars['ldap-node']['ansible_host'] }} ansible_user={{ hostvars['ldap-node']['ansible_user'] }}
